    <div class="list-group">
        <a href="/cicposts" class="list-group-item active">공지사항</a>
        <a href="/jobposts" class="list-group-item">취업게시판</a>
        <a href="/freeposts" class="list-group-item">자유게시판</a>
        <a href="/eventposts" class="list-group-item">행사/공모전</a>
        <a href="/imgposts" class="list-group-item">사진게시판</a>
        <a href="/dataposts" class="list-group-item">자료실</a>
        <a href="/faqposts" class="list-group-item">FAQ</a>
    </div>
