<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3>맛집 추가하기</h3>

      <form action="/community_board/write_complete" method="post" enctype="multipart/form-data">
        <p>+ 분류
        <select name="post_category">
          <option value="cicposts">학과공지</option>
          <option value="freeposts">자유게시판</option>
          <option value="dataposts">자료실</option>
          <option value="eventposts">행사/공모전</option>
          <option value="faqposts">FAQ</option>
        </select></p>
        <p><input type="text" name="post_title" placeholder="제목을 입력하세요."></p>
        <p><textarea name="post_content" placeholder="내용을 입력하세요."></textarea></p>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>