@media(min-width:993px){
    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    td,th{
        text-align:center;
    }
    .caption a{
        text-decoration: none;
        color:black;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .thumbnail{
        height:140px;
        overflow:hidden;
    }

    .list-group{
        width:17%;
        margin-right:5%;
        float:left;
    }

    .panel{
        width:78%;
        float:left;
    }
}

@media (max-width: 992px){
    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    td,th{
        text-align:center;
    }
    .caption a{
        text-decoration: none;
        color:black;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .thumbnail{
        height:140px;
        overflow:hidden;
    }

    .list-group {
        display: none;
    }

    .panel{
        width:100%;
    }
}
